button {
    height: 40px;
    width: 10%;
    background-color:  hsl(12, 88%, 59%);
    border: 2px solid  hsl(12, 88%, 59%);
    border-radius: 20px;
    color: white;
    margin-right: 25px;
    text-align: center;
}