.main {
    display: flex;
    flex-direction: column;
}

h1 {
    color: hsl(228, 39%, 23%);
}

.first-section {
    display: flex;
    width: 100%;
}

.first-section-left {
    width: 50%;
}

.first-section-right {
    width: 50%;
}

.illustration {
    width: 75%;
}