.fourth-section {
    display: flex;
    width: 100%;
    height: 150px;
    background-image: url("../../images/bg-simplify-section-desktop.svg");
    background-position: center;
    background-position: contain;
    background-color: hsl(12, 88%, 59%);
    align-items: center;
    justify-content: space-around;
}

.fourth-section p {
    color: white;
    font-size: 25px;
}

.fourth-container-button {
    height: 40px;
    width: 120px;
    background-color: white;
    border: 2px solid  white;
    border-radius: 20px;
    color: hsl(12, 88%, 59%);;
    margin-right: 25px;
    text-align: center;
}

span {
    display: block;
}

footer {
    display: flex;
}

.footer-first-container {}
.footer-second-container {}
.footer-third-container {}
.footer-fourth-container {}